body{
  background-color:#4b624b; 
  font-family:'Comic Sans MS',  'Comic Sans', 'chalkduster';
}

img{
  float:right;
height:150px;
}

#boxes {
        content: "";
        display: flex;
        clear: both;
     justify-content:space-evenly;
    height:auto;
    
      }

      div {
        float:left;
        width: 23%;
        padding: 45px;
      }
      #column1 {
        background-color: #ffa500;
        width:20%;
        text-align:center;
        transform:translateY(200px)skewX(1deg);
          
      }
      #column2 {
        display:flex;
        flex-direction:column;
background-color:yellow;
        width: 40%;
        text-align:center;
          
         align-items:center;
      }
      #column3 {
        background-color: orange;
        width:20%;
        text-align:center;
        transform:translateY(-100px)skewX(-1deg);
}
     
      h2 {
        color: #000000;
        text-align: center;
      }
        
header {
  background-color: rgba(236, 255, 71,1);
  flex-grow:1;
  height:80px;
  text-align:center;
  padding:2px;
  margin:20px;
   
}

/*div:hover{
    transform: rotate(180deg);
}*/

a{
  color:red;
  text-decoration:none;
  transition:color 0.5s;
}
a:hover{  
  color:blue;
  text-decoration: underline;
  background:rgba(225,225,0,0.9)
}

header:hover{
 /* transform: rotate(180deg); 
  background-color:blue;*/
    transition: 1s;
    transform: skewY(1deg);
  background-color: #ccccc;
    text-shadow:2px 2px #ff0000;
    text-indent: 12px;
    background-image: url("assets/bg.gif")
}

.pics{
  display:flex;
  justify-content:center;
}

.header{
  position:relative;
    top: 0;
    left:0;
}
.hughshot{
   /*position:relative;
  top:10px;
 left:160px;*/
  border: 7px solid #5ea25e;
    transform:rotate(5deg);
  }

.jassshot{
  /*top:10px;
 left:190px;*/
  transform:rotate(-5deg);
  border: 7px solid #5ea25e;
  }